/* 版心 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

input {
    outline: none;
}

button {
    border: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}