body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    line-height: 1.5;
    margin: 0 auto;
    color: #333;
    font: 14px/1.5 -apple-system, Helvetica, sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input {
    -webkit-appearance: none;
}

p {
    margin: 0;
    padding: 0;
}

img,
a {
    -webkit-touch-callout: none;
}

a {
    color: #666;
    text-decoration: none;
}

input {
    outline: none;
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

div,
input {
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}

.clearfix {
    *zoom: 1;
}


/* header部分 */

.header ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.header ul li:nth-child(1) {
    width: 8%;
}

.header ul li:nth-child(1) img {
    width: 10px;
}

.header ul li:nth-child(2) {
    width: 10%;
}

.header ul li:nth-child(2) img {
    width: 30px;
}

.header ul li:nth-child(3) {
    width: 57%;
}

.header ul li:nth-child(4) {
    width: 25%;
    background-color: #f63515;
}


/* main_content部分 */

.main_content {
    position: relative;
    background-color: #s;
}

.slide img {
    width: 100%;
}


/* 搜索部分 */

.search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 50px;
}

.search::before,
.search::after {
    position: absolute;
    top: 0;
    width: 40px;
    height: 44px;
}

.search::before {
    left: 0;
    content: "";
    background: url(../images/s-btn.png) no-repeat center right;
    background-size: 20px 18px;
}

.search::after {
    right: 0;
    color: #fff;
    content: "登录";
}

.search_input {
    height: 44px;
}

.search_input input {
    width: 100%;
    height: 30px;
    text-indent: 5em;
    border-radius: 15px;
}

.search_input ul {
    position: absolute;
    width: 80px;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
}

.search_input ul li {
    float: left;
    height: 15px;
}

.search_input ul li:nth-child(1) {
    width: 20px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.search_input ul li:nth-child(2) {
    border-left: 1px solid #ccc;
    margin: 0 5px;
}

.search_input ul li:nth-child(3) {
    width: 18px;
    background: url(../images/jd-sprites.png) no-repeat -82px 0;
    background-size: 200px 200px;
}

.slide img {
    width: 100%;
}


/* 代言部分 */

.brand ul li {
    float: left;
    width: 33.3%;
}

.brand ul li img {
    width: 100%;
}


/* 导航栏部分 */

.nav ul li {
    float: left;
    width: 20%;
    height: 80px;
    text-align: center;
}

.nav ul li img {
    width: 40px;
    margin: 15px 0 5px 0;
}


/* banner部分 */

.banner li {
    float: left;
    width: 25%;
}

.banner li img {
    width: 100%;
}

.banner li:nth-child(1) {
    width: 50%;
}