/* nav部分 */

.nav {
    border-bottom: 2px solid #c81623;
}

.nav ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    padding: 0 23px;
    font-size: 14px;
    font-family: "icomoon";
}

.nav ul li:nth-child(-n+3) {
    padding: 0 25px;
    font-size: 16px;
    font-weight: 700;
}


/* 背景部分 */

.bg {
    overflow: hidden;
    height: 120px;
    background: url(../images/list-bg.png) no-repeat center;
    text-align: center;
}

.bg h3 {
    margin: 20px;
    font: 700 24px/40px "iconfont";
    color: #c81623;
}

.bg h4 {
    font-size: 16px;
    font-weight: 400;
}


/* content部分 */

.content {
    margin-top: 25px;
}

.content ul li {
    float: left;
    width: 290px;
    font-size: 13px;
    margin-right: 13px;
    border: 1px solid transparent;
}

.content ul li:nth-child(4n) {
    margin-right: 0;
}

.content ul li:hover {
    border-color: #c81623;
}

.content ul li p {
    padding: 0 12px;
}

.content ul li p:nth-child(3) {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #c81623;
}

.content ul li p:nth-child(3) span {
    color: #a4a4a4;
    font-size: 14px;
    text-decoration: line-through;
}

.content ul li p:nth-child(4) i {
    display: inline-block;
    width: 130px;
    height: 12px;
    border: 1px solid #c81623;
    margin: 0 12px;
    border-radius: 6px;
}

.content ul li p:nth-child(4) i::before {
    overflow: hidden;
    float: left;
    width: 87%;
    height: 10px;
    background-color: #c81623;
    content: "";
}

.content ul li p:nth-child(5) {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    background-color: #c81623;
    color: #fff;
    font-size: 20px;
    text-align: center;
}